<div class="bg-danger">
    <div class="container"><img src="assets/banner.png" width="100%"></div>
</div>
<div class="bg-secondary mt-1px mb-1">
    <div class="container">
        <ul ngbNav class="nav-tabs pt-2">
            <li ngbNavItem class="d-flex align-items-end">
                <a class="navbar-brand" routerLink="home">
                    <img src="assets/logo.png" height="32px">
                </a>
            </li>
            <li ngbNavItem>
                <a class="ms-3" ngbNavLink routerLink="home" routerLinkActive="active"><b>Home</b></a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="profile/1" routerLinkActive="active"><b>Profile Page</b></a>
            </li>
            <li ngbNavItem class="ms-auto">
                <a ngbNavLink routerLink="add-profile" routerLinkActive="active"><b>Add Profile</b></a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="login" routerLinkActive="active"><b>Login</b></a>
            </li>
        </ul>
    </div>
</div>
<div class="container hr mb-4"></div>