<img src="assets/banner.png" width="100%">
<div class="bg-secondary my-1px">
    <div class="container">
        <ul ngbNav class="nav-tabs pt-2">
            <li ngbNavItem>
                <a class="navbar-brand" routerLink="home">
                    <img src="assets/logo.png" height="32px">
                </a>
            </li>
            <li ngbNavItem>
                <a class="ms-3" ngbNavLink routerLink="home" routerLinkActive="active"><b>Home</b></a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="profile/1" routerLinkActive="active"><b>Profile Page</b></a>
            </li>
            <li ngbNavItem class="ms-auto">
                <a ngbNavLink routerLink="login" routerLinkActive="active"><b>Login</b></a>
            </li>
        </ul>
    </div>
</div>
<div class="container hr mb-4"></div>