<div class="container">
    <div class="d-flex justify-content-center">
        <div class="leftcolumn">
            <img src="assets/circles.png" class="ms-auto">
        </div>
        <div class="ms-2">
            <h4 class="text-primary p-2">{{person.firstName | uppercase}} {{person.lastName | uppercase}}'S PROFILE</h4>
            <table class="table table-striped table-hover">
              <thead>
                <tr> <th class="bg-danger"></th>    <th class="bg-danger"></th>     </tr>
              </thead>
              <tbody>
                <tr> <th>Username</th>              <td>{{person.userName}}</td>    </tr>
                <tr> <th>Email</th>                 <td>{{person.email}}</td>       </tr>
                <tr> <th>Birth Date</th>            <td>{{person.birthDate}}</td>   </tr>
                <tr> <th>Days Before Notice</th>    <td>{{person.daysBeforeNotice}}</td></tr>
                <tr> <th>Is Admin</th>              <td>{{person.isAdmin}}</td>     </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
